.mt-7 {
    margin-top: 10%;
  }
  body{
    background-image: url('https://cdn.xxl.thumbs.canstockphoto.com/abstract-technology-blue-concept-background-clipart-vector_csp28224153.jpg');
    background-size: 100%;
  }